<h2>Google Vision</h2>
<div class="container">
  <div class="row">
    <div class="col">Fileupload</div>
    <div class="col">Textupload</div>

    <div class="w-100"></div>

    <div class="col">
      <form [formGroup]="fileUploadForm" (ngSubmit)="onSubmitFile()">
        <div class="form-group">
          <input type="file" id="filePicker" (change)="handleFileSelect($event)" formControlName="file">
        </div>
      </form>
    </div>
    <div class="col">
      <form [formGroup]="textUploadForm" (ngSubmit)="onSubmitText()">
        <label for="text">Eingabe Sprachtext</label>
        <textarea name="text" cols="20" rows="8" formControlName="text" class="form-control"></textarea>
      </form>
    </div>
  </div>
</div>
